table{
    animation: rotation 0.5s linear infinite;   
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

table{
    text-align: center;
    border: thick double #32a1ce;
    margin: 20% auto; 
    
}
th {
    border: 1px solid black;
   
}
th {
    text-align: center;
    background: repeating-radial-gradient(closest-side, #257b9f, #ebf8e1, #d83f1c);
}

caption {
    background-image:radial-gradient(circle, white,black);
    color: blue;
    border: thick double #32a1ce;
}
 
tr:nth-child(even) td:last-child a{
    color: white;
    text-decoration: none;
}

tr:nth-child(odd) td:last-child a{
    color: white;
    text-decoration: none;
}

tr:nth-child(odd){
    background-image:linear-gradient(to right, yellow,red,blue,red,green);
}
tr:nth-child(even){
    background-image:linear-gradient(to left, yellow,red,blue,red,green);
    color: white;
}

td{
    height: 30px;
}
td:first-child{
    width: 150px;
}
 